<center>
    <h1>BIENVENIDO</h1>
</center>

<a href="/adm/crearusuario">Crear nuevo usuario</a>
<a href="/adm/reportes">Ver reportes</a>
<a href="/adm/verLicencias">Ver licencias</a>
<a href="/adm/crearreportes">Crear reporte</a>
<a href="/adm/actualizarusuario">Actualizar usuario</a>
<a href="/adm/eliminarusuario">Eliminar usuario</a>