<center>
    <h1>Selecciona el tipo de reporte que quieres ver</h1><br>
    <a href="/adm/reportes/atrasadas">Reporte de entradas atrasadas</a><br><br>
    <a href="/adm/reportes/anticipadas">Reporte de salidas anticipadas</a><br><br>
    <a href="/adm/reportes/inasistencias">Reporte de inasistencias</a><br><br>
</center>